<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
</head>
<body>
    <div id="chat-container">
        <div id="chat-box">
            <div id="chat-display"></div>
        </div>
        <input type="text" id="user-input" placeholder="Type your message...and please wait while GPT is responding..">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        function sendMessage() {
            var userMessage = document.getElementById("user-input").value;
            document.getElementById("user-input").value = "";

            var chatDisplay = document.getElementById("chat-display");
            chatDisplay.innerHTML += "<p>User: " + userMessage + "</p>";

            // Make an AJAX request to the Flask app
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/get?msg=" + userMessage, true);
            xhr.onload = function () {
                chatDisplay.innerHTML += "<p>Bot: " + xhr.responseText + "</p>";
            };
            xhr.send();
        }
    </script>
</body>
</html>
